<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Something Wonderful</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body style="background-color: black;">
        <form method="post" action="/submission" style="width: 240px; margin: 240px auto;">
            <input name="username" placeholder="Enter Your Spotify Username" class="w3-input w3-round-large" style="width: inherit;"/>
        </form>
    </body>
</html>
