<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Discover Daily</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body style="padding: 100px; color: #1DB954; background-color: #191414;">
        <p>Your playlists have been successfully created.</p>
        <p>Discovery contains the songs that you haven't yet listened to (beginning from the moment you authorized this app) from the playlists made by Spotify that you follow.</p>
        <p>Releaser contains all the songs released in the past 4 weeks from your top 50 artists from the past 4 weeks and your top 50 artists from the past 6 months (according to Spotify).</p>
        <p>Top Tracks contains your top 50 tracks from the past 4 weeks combined with your top 50 tracks from the past 6 months (according to Spotify).</p>
        <p>Due to a current issue with Spotify, in some rare cases, a song will continue to appear in your Discovery playlist after you've listened to it.</p>
        <p>To prevent a song from reappearing in your Discovery playlist, add it to your Remover playlist.</p>
        <p>These playlists update daily.</p>
        <p>To manually update Discovery to not include the songs you just listened to, just come back here and click the button again.</p>
        <p>You must listen to at least 30 seconds of a song for it to count as a listen.</p>
    </body>
</html>
